
Django==5.2.5
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.14.1
whitenoise==6.6.0
gunicorn==20.1.0
boto3==1.28.39
django-storages==1.13.2
Pillow==10.4.0
django-crispy-forms==2.0.2
crispy-bootstrap5==0.7.0
django-allauth==0.59.1
dj-database-url==1.2.0
python-decouple==3.8.1
django-ckeditor==6.4.2
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-simplejwt==6.3.0
drf-yasg==1.22.1
requests==2.31.0
pytest==7.4.0
pytest-django==4.5.2